<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">


    <link rel="stylesheet" href="css/main.css">
    <title>Using Express on contact</title>
</head>

<body>
        <ul><li>
                <a href="/contact">Contact</a>
            </li>
            <li>
                    <a href="/">Home</a>
                
            </li></ul>
    <h1>contact page is here</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam veritatis, tempora nesciunt quod placeat blanditiis facere accusantium quaerat est culpa optio eligendi suscipit. Qui explicabo reiciendis repellendus necessitatibus alias fugiat.</p>


    <script src="js/main.js"></script>
    </body>
</html>
